{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "Lab1",
            "Action": [
                "cloudformation:*",
                "ec2:*"
            ],
            "Effect": "Allow",
            "Resource": "*"
        }
    ]
}